{{!-- 404 page --}}
{{#> layout }}
{{> navbar-with-search }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-xs-visible">
                <img src="/img/illus--error-404.svg" style="margin: 80px 0 0 0;" width="600"></img>
            </div>
            <div class="col-xs-12">
                <h1 class="emphasis">{{end_of_the_internet}}</h1>
                <p>{{or_maybe_there_is_broken_link}}</p>
                <p>{{or_maybe_there_article_is_not_translated}}</p>
                <p>{{in_both_case_contribute}}</p>
                <button class="btn btn-default">{{open_an_issue}}</button>
                <button class="btn btn-default">{{translate_an_article}}</button>
                <br/>
                <br/>
                <p>{{you_dont_care}}</p>
                <button class="btn btn-info">{{go_to_homepage}}</button>
            </div>
        </div>
    </div>
{{/layout}}
