{{!-- Shared template for all the articles --}}
{{#> layout }}
{{> navbar-with-search }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="article-title docSearch-mainTitle">{{{titleWithBold}}}</h1>
                {{#if eeOnly}}<p class="small"><em>{{only_available_in_our_EE}} <a href="https://www.akeneo.com/enterprise-edition/?source=akeneo-help">{{entreprise_edition}}</a></em></p>{{/if}}
            </div>
            {{{mainContent}}}
        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-9">
                <hr>
                {{#if relatedArticles}}
                    <h2>{{take_a_look_at_these_related_articles}}</h2>
                    <div class="row">
                        <div class="col-xs-offset-1 col-xs-11">
                            <div class="row">
                                {{#each relatedArticles}}
                                    <div class="col-lg-6">
                                        <p {{#if eeOnly}}class="label-ee"{{/if}}><a href="articles/{{articlePath}}">{{{articleName}}} ></a></p>
                                {{/each}}
                            </div>
                        </div>
                    <hr>
                {{/if}}
            </div>
        </div>
    </div>
{{/layout}}
