{{!-- Shared template for all the monthly update pages --}}
{{#> layout }}
{{> navbar-with-search }}
{{> whats-new-button}}
{{> whats-next-button}}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img class="hidden-xs img-responsive center-block" src="../img/illus-opened-gift.svg"></img>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <h1 class="emphasis hidden-xs" style="margin-top: 30px;">{{title}}</h1>
                    <h1 class="emphasis text-center visible-xs">{{title}}</h1>
                    <p class="hidden-xs"><em>{{description}}</em></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container updates">
        <div class="row">
            <div class="col-xs-12">
                <p class="breadcrumb text-muted"><a href="/">Home</a> / <a href="/pim/serenity">PIM help center</a> / <a href="/pim/serenity/updates/index.html"> What's new in Akeneo PIM Serenity Enterprise & Growth editions?</a> / {{title}}</p>
            </div>
            {{{mainContent}}}
        </div>
    </div>
{{/layout}}
