{{!-- Shared template for the Themes pages --}}
{{#> layout }}
{{> navbar-with-search }}
{{> updates-button}}
{{> whats-new-button}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="breadcrumb text-muted"><a href="/">Home</a> / <a href="/pim/v7">PIM help center</a> / {{title}}</p>
                <h1>{{{title}}}</h1>
                <p><em>{{description}}</em></p>
            </div>
        </div>
        <div class="row">
            <div id="navbar" class="col-sm-3 hidden-xs sticky">
                <nav role="tablist">
                    <ul class="nav nav-stacked">
                        <p class="pre-nav">Browse topics</p>
                        {{#each themes as |theme themeId|}}
                            <li class="main-nav"><a href="#{{{themeId}}}">{{{title}}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-offset-1 col-sm-8">
                {{#each themes as |theme themeId|}}
                    <div class="theme">
                        <a class="anchor" id="{{{themeId}}}"></a>
                        <div class="media hidden-xs hidden-sm">
                            {{#if theme.img}}
                            <div class="media-left">
                                <img src="./img/{{theme.img}}"></img>
                            </div>
                            {{/if}}
                            <div class="media-body">
                                <h2 class="media-heading"><a class="markdownIt-Anchor" href="#{{{themeId}}}">#</a>{{theme.title}}</h2>
                                <p>{{theme.description}}</p>
                            </div>
                        </div>
                        <div class="visible-sm visible-xs">
                            <img src="./img/{{theme.img}}" width="150"></img>
                            <h2 class="media-heading"><a class="markdownIt-Anchor" href="#{{{themeId}}}">#</a>{{theme.title}}</h2>
                            <p>{{theme.description}}</p>
                        </div>
                        <div class="row">
                            {{#each articles}}
                            <div class="col-sm-12 col-md-6">
                                <p
                                    {{#if eeOnly}}
                                        {{#if eeAndGeOnly}}
                                            class="label-ee-ge"
                                        {{else}}
                                            class="label-ee"
                                        {{/if}}
                                    {{/if}}
                                ><a href="articles/{{articlePath}}">{{{articleName}}} ></a></p>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
{{/layout}}
