{{!-- Shared template for the Themes pages --}}
{{#> layout }}
{{> navbar-with-search }}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img class="img-responsive center-block" src="/img/{{img}}"></img>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <h1 class="emphasis hidden-xs" style="margin-top: 30px;">{{{title}}}</h1>
                    <h1 class="emphasis text-center visible-xs">{{{title}}}</h1>
                    <p class="hidden-xs"><em>{{description}}</em></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="navbar" class="col-sm-3 hidden-xs sticky">
                <nav role="tablist">
                    <ul class="nav nav-stacked">
                        <p class="pre-nav">Browse all our themes</p>
                        {{#each themes as |theme themeId|}}
                            <li class="main-nav"><a href="#{{{themeId}}}">{{{title}}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-offset-1 col-sm-8">
                {{#each themes as |theme themeId|}}
                    <div class="theme">
                        <div class="media hidden-xs hidden-sm">
                            {{#if theme.img}}
                            <div class="media-left">
                                <img src="/img/{{theme.img}}"></img>
                            </div>
                            {{/if}}
                            <div class="media-body">
                                <a class="anchor" id="{{{themeId}}}"></a>
                                <h2 class="media-heading"><a class="markdownIt-Anchor" href="#{{{themeId}}}">#</a>{{theme.title}}</h2>
                                <p>{{theme.description}}</p>
                            </div>
                        </div>
                        <div class="visible-sm visible-xs">
                            <img src="/img/{{theme.img}}" width="150"></img>
                            <a class="anchor" id="{{{themeId}}}"></a>
                            <h2 class="media-heading"><a class="markdownIt-Anchor" href="#{{{themeId}}}">#</a>{{theme.title}}</h2>
                            <p>{{theme.description}}</p>
                        </div>
                        <div class="row">
                            {{#each articles}}
                            <div class="col-sm-12 col-md-6">
                                <p {{#if eeOnly}}class="label-ee"{{/if}}><a href="/articles/{{articlePath}}">{{{articleName}}} ></a></p>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
{{/layout}}
