{{!-- The index of the release note --}}
{{#> layout }}
{{> navbar-with-search }}
{{> whats-new-button}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="breadcrumb text-muted"><a href="/">Home</a> / <a href="/pim/{{majorVersion}}">PIM help center</a> / What's new in Akeneo PIM 6.0?</p>
                <h1>What's new in Akeneo PIM 6.0?</h1>
                <p><em>Akeneo PIM 6.0 will help you reach the next level with new features & improvements in areas like Connectivity and Productivity. Akeneo PIM 6.0 is a Long-Term Support (LTS) version. It will be supported for <b>18 months</b> until the end of September 2023.</em></p>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    {{#each updates as |update id|}}
                        <div class="col-xs-12 col-sm-4">
                            {{#if eeOnly}}
                                <div class="persona persona-updates persona-updates-ee-only">
                            {{else}}
                                <div class="persona persona-updates persona-updates-ce-and-ee">
                            {{/if}}
                                <a href="{{id}}.html">
                                    <h3 class="text-center">{{title}}</h3>
                                    <div class="row">
                                        <div class="col-xs-offset-1 col-xs-10">
                                            <img class="img-responsive center-block" src="../img/{{img}}"/>
                                            <button class="btn btn-default btn-block">Read more</button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {{/each}}
                    <div class="col-xs-12">
                        <p>For questions about upgrades, please contact your Akeneo Customer Success Manager or Akeneo Partner Manager.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/layout}}
