{{!-- Shared template for all the release note update pages --}}
{{#> layout }}
{{> navbar-with-search }}
{{> whats-new-button}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="breadcrumb text-muted"><a href="/">Home</a> / <a href="/pim/{{majorVersion}}">PIM help center</a> / <a href="/pim/{{majorVersion}}/updates/index.html"> What's new in Akeneo PIM 6.0?</a> / {{title}}</p>
                <h1>{{title}}</h1>
                <p><em>{{description}}</em></p>
            </div>
        </div>
        <div class="row updates">
            {{{mainContent}}}
        </div>
    </div>
{{/layout}}
