{{!-- The index of the version comparison page --}}
{{#> layout }}
{{> navbar-with-search }}
    <div class="container-fluid versions-comparison">
        <div class="row">
            <div class="col-xs-12">
                <p class="breadcrumb text-muted"><a href="/">Home</a> / <a href="/pim/serenity">PIM help center</a> / What's new in the PIM since your version?</p>
                <h1>What's new in the PIM since your version?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <h3>PIM versions</h3>
                {{#each versions as |version key|}}
                    <label class="version-checkbox">
                        <input onclick="filterVersions('.{{key}}', this)" type="checkbox" checked value=".{{key}}" />
                        <span class="label label-default">{{version}}</span>
                    </label>
                {{/each}}
            </div>
            <div class="col-xs-12 col-md-5">
                <h3>PIM editions</h3>
                <label class="edition-radio">
                    <input onclick="filterEdition('.CE')" name="editionFilter" type="radio" />
                    <span class="label label-default">Community</span>
                </label>
                <label class="edition-radio">
                    <input onclick="filterEdition('.EE')" name="editionFilter" type="radio" checked />
                    <span class="label label-default">Enterprise</span>
                </label>
            </div>
            <div class="col-xs-12 col-md-7">
                <h3>PXM domains</h3>
                {{#each domains as |domain key|}}
                    <label class="domain-checkbox">
                        <input onclick="filterDomains('.{{key}}', this)" type="checkbox" checked value=".{{key}}" /> 
                        <span class="label label-{{domain.color}}">{{domain.label}}</span>
                    </label>
                {{/each}}
            </div>
            <div class="col-xs-12 col-md-5">
                <h3>PIM features</h3>
                {{#each features as |feature key|}}
                    <label class="domain-checkbox">
                        <input onclick="filterDomains('.{{key}}', this)" type="checkbox" checked value=".{{key}}" /> 
                        <span class="label label-{{feature.color}}">{{feature.label}}</span>
                    </label>
                {{/each}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="grid">
                    {{#each updates as |update id|}}
                        <div class="versions-comparison-updates {{version}} {{#each domainCodes as |domain|}}{{domain}} {{/each}} {{#each editions as |edition|}}{{edition}} {{/each}}">
                            <p>{{#each coloredDomains as |domain color|}}<span class="label label-{{color}}">{{domain}}</span> {{/each}}</p>
                            <p class="title">{{title}}</p>
                            <p><em>Available since {{since-version}} in {{#each editions as |edition|}} {{#if @last}} & {{/if}}{{edition}}{{/each}}</em>
                            <p><a class="link text-right" href="{{link}}">Read more... ></a></p>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    var $grid = $('.grid').isotope({itemSelector: '.versions-comparison-updates',layoutMode: 'fitRows'});
    var checkedVersions = ['.17','.20','.21','.22','.30','.31','.32','.40','.serenity'];
    var checkedEdition = '.EE';
    var checkedDomains = ['.governance', '.quality', '.connectivity', '.scalability', '.productivity', '.reporting', '.asset', '.referenceentities', '.rulesengine'];
    $grid.isotope({ filter: computeFilters() });

    // filter news based on their version
    function filterVersions(version, elm) {
        if(elm.checked){
            checkedVersions.push(version);
        } else {
            _.pull(checkedVersions, version);
        }
        $grid.isotope({ filter: computeFilters() });
    }

    // filter news based on their edition
    function filterEdition(edition) {
        checkedEdition = edition;
        $grid.isotope({ filter: computeFilters() });
    }

    // filter news based on their domains
    function filterDomains(domain, elm) {
        if(elm.checked){
            checkedDomains.push(domain);
        } else {
            _.pull(checkedDomains, domain);
        }
        $grid.isotope({ filter: computeFilters() });
    }

    function computeFilters() {
        var combinationOfVersionsDomains = [];
        _.each(checkedVersions, function(version){
            _.each(checkedDomains, function(domain){
                combinationOfVersionsDomains.push(domain + version);
            });
        });
        var yolo = combinationOfVersionsDomains.join(checkedEdition + ', ') + checkedEdition;
        console.log(yolo);
        return yolo;
    }
</script>
{{/layout}}
