{{!-- The index of the what's next page --}}
{{#> layout title="Discover what’s coming next in Akeneo PIM"}}
{{> navbar-only-logo }}
{{> serenity-updates-button}}
{{> whats-new-button}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="breadcrumb text-muted"><a href="/">Home</a> / <a href="/pim/v7">PIM help center</a> / Discover what’s coming next in Akeneo PIM</p>
                <h1>Discover what’s coming next in Akeneo PIM</h1>
                <p style="margin-bottom: 60px;"><em>With Akeneo PIM Enterprise Edition and Growth Edition being available as cloud-native SaaS applications, we can regularly deliver new capabilities that address your needs. We are excited to share the features that we are currently working on for our SaaS-based customers, including those that are coming very soon, and those that we are working on in the labs for release at a later date.* We have also added some of the features that we have just released to the table below. If you have any feedback or suggestions, please reach out to your Customer Success Manager directly or contact us <a href="https://www.akeneo.com/contact/">here</a>.</em></p>
            </div>
        </div>
        <div class="row" style="display: flex; display: -webkit-flex; flex-wrap: wrap;">
            <div class="col-sm-5 col-md-4 col-whats-next">
                <h2>Mid term 🔬 <small>| 6+ months</small></h2>
                <p class="small"><em>Here are the capabilities that we are currently researching in our labs and are in an early stage of development. They have a high chance of being in Akeneo PIM in the future. But keep in mind that nothing is set in stone and these plans are subject to change.*</em></p>
                <div class="row">
                    {{#each whatsNextMidTerm}}
                        <div class="col-xs-12">
                            <div class="whats-next-update">
                                <p class="whats-next-update-title"><b class="text-primary">{{title}}</b></p>
                                <p>{{#each coloredAreas as |area color|}}<span class="small label label-{{color}} whats-new-updates-label">{{area}}</span> {{/each}} </p>
                                <p>{{description}}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-sm-7 col-md-5 col-whats-next col-short-term">
                <h2>Short term ⚗️ <small>| Within 6 months</small></h2>
                <p class="small"><em>These features are being actively developed by our team, and so you can expect to see them in Akeneo PIM within the next few months.</em></p>
                <div class="row">
                    {{#each whatsNextShortTerm}}
                        <div class="col-xs-12">
                            <div class="whats-next-update">
                                <p class="whats-next-update-title"><b class="text-primary">{{title}}</b></p>
                                <p>{{#each coloredAreas as |area color|}}<span class="small label label-{{color}} whats-new-updates-label">{{area}}</span> {{/each}} | <em class="small">Will be available in <b>Serenity</b> {{#each editions as |edition|}} {{#if @last}}{{#unless @first}} & {{/unless}}{{/if}}{{edition}}{{/each}}</em></p>
                                <p>{{description}}</p>
                                {{#if img}}<img class="img-responsive center-block" src="{{img}}"></img>{{/if}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-3 col-whats-next">
                <h2>Just released 🎈</h2>
                <p class="small"><em>Here’s a sample of some of the new capabilities that have been recently released for our SaaS-based customers. Click through to read more about them, or check out the <a href="updates/index.html">What’s New page</a> for the entire list.</em></p>
                <div class="row">
                    <div class="col-xs-12">
                        {{#each serenityLastNewUpdates}}
                            <div class="whats-next-update">
                                <p class="whats-next-update-title"><b class="text-primary">{{title}}</b></p>
                                <p>{{#each coloredAreas as |area color|}}<span class="small label label-{{color}} whats-new-updates-label">{{area}}</span> {{/each}} | <em class="small">Available {{#if isSerenityOnly}} in <b>Serenity</b> {{#each editions as |edition|}} {{#if @last}}{{#unless @first}} & {{/unless}}{{/if}}{{edition}}{{/each}}{{else}} since <b>{{since-version}}</b> in {{#each editions as |edition|}} {{#if @last}}{{#unless @first}} & {{/unless}}{{/if}}{{edition}}{{/each}}{{/if}}</em></p>
                                {{#if link}}<p class="text-right"><a class="link" href="{{link}}" target="_blank">Read more... ></a></p>{{/if}}
                            </div>
                        {{/each}}
                        <p><em>This is just an overview of our latest released features. If you want to scroll through the entire list of all the features we launched recently, there's a dedicated page for you.</em><br/><a href="updates/index.html">Go to our What's New page</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="small" style="margin-top: 20px;"><em>*The above information is being shared to outline some of our current product plans. We hope the following can shed some light on our roadmap, but it is important to understand that it is being shared for informational purposes only, and not as a binding commitment. It is subject to change at any time.</em></p>
            </div>
        </div>
    </div>
{{/layout}}
